.isStuck {
    left: 0px;
    width: 100%;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    margin-top: 20px;
    position: relative;
    z-index: 15;
}